services:
  rest-api:
    build:
      context: .
      dockerfile: rest-api/DockerFile
    environment:
      - DATABASE_URL=${DATABASE_URL}
      - PORT=${PORT}
      - JWT_SECRET=${JWT_SECRET}
    ports:
      - "${PORT}:${PORT}"
    restart: always
