services:
  rest-api:
    build:
      context: .
      dockerfile: rest-api/DockerFile
    environment:
      - DATABASE_URL=${DATABASE_URL}
      - REST_API_PORT=${REST_API_PORT}
    ports:
      - "${REST_API_PORT}:${REST_API_PORT}"
    restart: always
  batch-receiver:
    build:
      context: .
      dockerfile: batch-receiver/DockerFile
    environment:
      - DATABASE_URL=${DATABASE_URL}
      - BATCH_RECEIVER_PORT=${BATCH_RECEIVER_PORT}
    ports:
      - "${BATCH_RECEIVER_PORT}:${BATCH_RECEIVER_PORT}"
    restart: always
